.footer {
    /* position: fixed;
    bottom: 0; */
    background-color: #292929;
    width: 100%;
    color: white !important;
    height: auto;
}

.footer-nav-link {
    font-size: 18px !important;
    color: white !important;
    font-weight: 700 !important;
    padding-right: 30px !important;
    display: inline-grid;
}

.quick-links {
    display: inline-grid;
}